 
{% extends "layout.html" %}
{% block content %}
    <h1>Enter your document in blog page<br>1. <b>Index </b> It will split the document on the basis of two consicutive "\n\n" character that is called paragraph and it will generate a unique Id for each paragraph.<br>2. <b>Clear </b> It will erase all the index and unique Id of the paragraphs.<br>3. Enter the desired word to be searched and our program will those paragraphs and it's unique Id if the word is present in the pragraph.</h1>
{% endblock content %}